
<div class="py-5 px-8">
    <p class="text-[#F2F3F5] font-medium">ADD FRIEND</p>
    <p class="text-xs text-[#A4A8B0] my-3">You can add friends with their Discord usernames.</p>
    <div [ngClass]="{'border border-[#04A9FB]' : focusInput, 'border border-[#21A559]' : successRequest, 'border border-[#F23F43]' : errorRequest}"
        class="flex items-center bg-[#1E1F22] text-gray-400 px-4 py-2 rounded-md ">
        <input type="text" placeholder="You can add friends with their Discord usernames."
            class="bg-transparent flex-grow  placeholder-gray-400 focus:outline-[0] border-none focus-within:ring-0 text-white"
            maxlength="50" (focus)="focusInput = true" (blur)="focusInput = false" [(ngModel)]="friendInput"
            (input)="onChangeFriendInput()" />
        <button (click)="onClickFriendRequest()" [disabled]="friendInput.length == 0"
            [ngClass]="{'opacity-25 cursor-not-allowed': friendInput.length == 0}"
            class="bg-[#5765F2] text-sm transition text-white px-4 py-2 rounded-md">
            Send Friend Request
        </button>
    </div>
    @if (showMessage.length > 0) {
    <p [ngClass]="{'text-[#21A559]' : successRequest, 'text-[#FA767A]' : errorRequest}" class="text-sm mt-2">
        {{showMessage}}</p>
    }
</div>