<app-layout-wrapper>
    <div navbar class="flex items-center h-full px-4">
        <div class="chat-user  flex items-center">
            <div [ngStyle]="{'background-color': friendData?.profilePictureColor}"
                class=" h-7 w-7 rounded-full flex items-center justify-center">
                <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
            </div>
            <div class="text-white ml-3 cursor-pointer">
                <p class="text-sm font-semibold">{{friendData?.username}}</p>
            </div>
            <div class="flex-[1]"></div>
        </div>
        <div class="flex-[1]"></div>
        <div class="cursor-pointer" (click)="hideSidebar = !hideSidebar">
            <svg x="0" y="0" class="icon_fc4f04" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M23 12.38c-.02.38-.45.58-.78.4a6.97 6.97 0 0 0-6.27-.08.54.54 0 0 1-.44 0 8.97 8.97 0 0 0-11.16 3.55c-.1.15-.1.35 0 .5.37.58.8 1.13 1.28 1.61.24.24.64.15.8-.15.19-.38.39-.73.58-1.02.14-.21.43-.1.4.15l-.19 1.96c-.02.19.07.37.23.47A8.96 8.96 0 0 0 12 21a.4.4 0 0 1 .38.27c.1.33.25.65.4.95.18.34-.02.76-.4.77L12 23a11 11 0 1 1 11-10.62ZM15.5 7.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd" class=""></path>
                <path fill="currentColor" d="M24 19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z" class=""></path>
            </svg>
        </div>
    </div>

    <div body class="flex w-full h-[94%]">
        <div class="flex w-full flex-col h-full">
            <div class="flex-[1] overflow-auto flex flex-col-reverse self-end w-[98%] m-auto">
                <div>
                    <div>
                        <div [ngStyle]="{'background-color': friendData?.profilePictureColor}"
                            class=" h-20 w-20 rounded-full flex items-center justify-center">
                            <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
                        </div>
                        <h1 class="text-[#DBDEE1] text-3xl font-bold my-3">{{friendData?.username}}</h1>
                    </div>
                    <p class="text-[#B5BAC0]">This is the beginning of your direct message history with
                        {{friendData?.username}}</p>
                    <div class="h-[1px] bg-[#3E4147] my-4"></div>
                    <div>
                        @for (message of messages; track $index) {
                        <div class="chat-user mb-3 flex items-center hover:[]">
                            <div [ngStyle]="{'background-color': message.senderId == userId ? userColor : friendData?.profilePictureColor}"
                                class=" h-9 w-9 rounded-full flex items-center justify-center">
                                <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
                            </div>
                            <div class="text-white ml-4 cursor-pointer">
                                <p class="text-base">{{message.sender_name}} <span
                                        class="text-[11px] font-normal ml-2 text-[#939BA4]">{{message.sent_at |
                                        formatDate}}</span></p>
                                <p class="text-[13px]">{{message.message_text}}</p>
                            </div>
                            <div class="flex-[1]"></div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="chat-input h-16 ">
                <input (keyup.enter)="onEnter()" type="text"
                    class="block m-auto bg-[#373A3F] border-transparent focus:border-transparent focus:ring-0 text-white rounded-md w-[98%]"
                    placeholder="Message @ansar" [(ngModel)]="message">
            </div>
        </div>
        <div class="w-[40%] bg-[#232428]" [ngClass]="{'hidden': hideSidebar}">
            <div [ngStyle]="{'background-color' : friendData?.profilePictureColor}" class="banner h-[17%] relative">
                <div [ngStyle]="{'background-color' : friendData?.profilePictureColor}"
                    class="flex items-center justify-center absolute rounded-full h-24 w-24 bottom-[-32%] border-[6px] border-[#232428] left-4">
                    <img class="h-[70%]" src="../../assets/images/dicord_icon.svg" alt="" />
                </div>
            </div>
            <div class="mt-10 px-4">
                <h1 class="text-white font-bold text-lg">{{friendData?.username}}</h1>
                <div class="bg-[#303136] border border-transparent rounded-md text-xs font-medium p-3 mt-2">
                    <p class="text-[#C4C5C8] text-[11px] font-bold">Member Since</p>
                    <p class="text-[#DBDEE1] text-[13px] mt-2 font-light">{{friendData?.created_at | date:"d MMM y"}}
                    </p>
                </div>
            </div>
        </div>

    </div>


</app-layout-wrapper>