<app-layout-wrapper>
    <div navbar class="flex items-center h-full px-4">
        <div class="chat-user  flex items-center">
            <div class="bg-[#FAA619] h-7 w-7 rounded-full flex items-center justify-center">
                <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
            </div>
            <div class="text-white ml-3 cursor-pointer">
                <p class="text-sm font-semibold">ansar</p>
            </div>
            <div class="flex-[1]"></div>
        </div>
    </div>

    <div body class="flex flex-col h-[94%]">
        <div class="flex-[1] overflow-auto flex flex-col-reverse">
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
            <div>ansar</div>
            <div>hussain</div>
        </div>
        <div class="chat-input h-16 ">
            <input (keyup.enter)="onCheck()" type="text"
                class="block m-auto bg-[#373A3F] border-transparent focus:border-transparent focus:ring-0 text-white rounded-md w-[98%]"
                placeholder="Message @ansar">
        </div>
    </div>

</app-layout-wrapper>