<app-layout-wrapper>
    <div navbar class="flex items-center h-full px-4">
        <div class="chat-user  flex items-center">
            <div [ngStyle]="{'background-color': friendData?.profilePictureColor}" class=" h-7 w-7 rounded-full flex items-center justify-center">
                <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
            </div>
            <div class="text-white ml-3 cursor-pointer">
                <p class="text-sm font-semibold">{{friendData?.username}}</p>
            </div>
            <div class="flex-[1]"></div>
        </div>
    </div>

    <div body class="flex flex-col h-[94%]">
        <div class="flex-[1] overflow-auto flex flex-col-reverse self-end w-[98%] m-auto">
            <div>
                <div>
                    <div [ngStyle]="{'background-color': friendData?.profilePictureColor}" class=" h-20 w-20 rounded-full flex items-center justify-center">
                        <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
                    </div>
                    <h1 class="text-[#DBDEE1] text-3xl font-bold my-3">{{friendData?.username}}</h1>
                </div>
                <p class="text-[#B5BAC0]">This is the beginning of your direct message history with Ansar</p>
                <div class="h-[1px] bg-[#3E4147] my-4"></div>
                <div>
                    @for (message of messages; track $index) {
                        <div class="chat-user mb-3 flex items-center hover:[]">
                            <div [ngStyle]="{'background-color': message.senderId == userId ? userColor : friendData?.profilePictureColor}" class=" h-9 w-9 rounded-full flex items-center justify-center">
                                <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
                            </div>
                            <div class="text-white ml-4 cursor-pointer">
                                <p class="text-base">{{message.sender_name}} <span class="text-[11px] font-normal ml-2 text-[#939BA4]">{{message.sent_at | formatDate}}</span></p>
                                <p class="text-[13px]">{{message.message_text}}</p>
                            </div>
                            <div class="flex-[1]"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="chat-input h-16 ">
            <input (keyup.enter)="onEnter()" type="text"
                class="block m-auto bg-[#373A3F] border-transparent focus:border-transparent focus:ring-0 text-white rounded-md w-[98%]"
                placeholder="Message @ansar"
                [(ngModel)]="message">
        </div>
    </div>

</app-layout-wrapper>