<div class="h-screen bg-[#303338] ">
    <div class="py-5 px-8">
        <div class="">
            <div class="flex items-center bg-[#1E1F22] text-gray-400 rounded-md h-[35px]">
                <input type="text" placeholder="Search"
                    class="bg-transparent flex-grow  placeholder-gray-400 focus:outline-[0] border-none focus-within:ring-0 text-white"
                    maxlength="50" />
            </div>
        </div>
        <div class="mt-8">
            <p class="text-[#B5BAC0] text-xs font-semibold">{{requestTypeStr}} - {{requestArr.length}}</p>
        </div>
        <div class="mt-5">
            @for (request of requestArr; track $index) {

            <div
                class=" px-4 h-14 cursor-pointer hover:bg-[#404147] hover:rounded-lg border border-transparent border-t-[#404147] flex items-center">
                <div class="bg-[#FAA619] h-8 w-8 rounded-full flex items-center justify-center">
                    <img class=" h-[70%] " src="../../assets/images/dicord_icon.svg" alt="">
                </div>
                <div class="text-white ml-4">
                    <p class="text-sm font-semibold">{{request.username}}</p>
                    @if (request.status === 0) {
                    <p class="text-[11px] text-[#B5BAC0]">{{request.senderId === loggedId ? "Outgoing" : "Incoming"}}
                        Friend Request</p>
                    }
                </div>
                <div class="flex-[1]"></div>
                <div class="flex gap-2">

                    @if (request.receiverId === loggedId && request.status === 0) {
                    <div (click)="onClickAccept(request.requestId)"
                        class="h-8 w-8 rounded-full flex items-center justify-center hover:bg-[#1E1F22] bg-[#2A2D31]">
                        <svg class="check-svg w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="#B5BAC0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 11.917 9.724 16.5 19 7.5" />
                        </svg>

                    </div>
                    }
                    <div (click)="onClickReject(request.requestId)"
                        class="h-8 w-8 rounded-full flex items-center justify-center bg-[#2A2D31] hover:bg-[#1E1F22]">
                        <svg class="cross-svg -5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20"
                            height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="#B5BAC0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>